<div class="custom-dialog-backdrop" (click)="close()"></div>

<div class="custom-dialog">
    <h2>Add Leave</h2>
      <div class="col-md-4">
            <div class="card p-3 mb-3 border-primary">
                <h5 class="text-primary text-center">Select Year :</h5>

                <div class="mb-2">
                    <label>Year :</label>
                    <input type="number" class="form-control" [(ngModel)]="selectedLeaveBalanceYear"   (change)="LeaveYearChange()" min="2025"
                        required />
                </div>


            </div>
        </div>
    <form (ngSubmit)="save()" #empForm="ngForm" class="form-container">
      
          <div class="row">
            <div class="col-md-4">
                <div class="card p-3 mb-3 border-primary">
                    <h5 class="text-primary text-center">Leave per month :</h5>

                    <div class="mb-2">
                        <label>Allocated :</label>
                        <input type="number" class="form-control" [(ngModel)]="leave.allocated" name="allocated"
                            min="0" required />
                    </div>


                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-4" *ngFor="let leave of leaveTypes; let i = index">
                <div class="card p-3 mb-3 border-primary">
                    <h5 class="text-primary text-center">{{ leave.leaveType }} Leave :</h5>

                    <div class="mb-2">
                        <label>Allocated :</label>
                        <input type="number" class="form-control" [(ngModel)]="leave.allocated" name="Allocated{{ i }}"
                            min="0" required />
                    </div>


                </div>
            </div>
        </div> -->

       


        <!-- Actions -->
        <div class="dialog-actions">
            <button type="button" class="btn cancel" (click)="close()">Cancel</button>
            <button type="submit" class="btn save">Save</button>
        </div>
    </form>

</div>