<!-- attendance-leave-system.component.html -->
<div class="alms-container cardMain">
    <!-- Header -->
    <header class="alms-header">
        <div class="header-content">
            <div class="logo">
                <svg width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2">
                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                    <circle cx="9" cy="7" r="4"></circle>
                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
                <h1 class="logo-text">HRMS</h1>
            </div>

            <nav class="nav">
                <button class="nav-button" [class.nav-button-active]="activeTab === 'dashboard'"
                    (click)="setActiveTab('dashboard')">
                    Dashboard
                </button>
                <button class="nav-button" [class.nav-button-active]="activeTab === 'attendance'"
                    (click)="setActiveTab('attendance')">
                    Attendance
                </button>
                <button class="nav-button" [class.nav-button-active]="activeTab === 'leave'"
                    (click)="setActiveTab('leave')">
                    Leave
                </button>
                <button class="nav-button" [class.nav-button-active]="activeTab === 'reports'"
                    (click)="setActiveTab('reports')">
                    Reports
                </button>
            </nav>

            <div class="user-profile">
                <div class="avatar">{{ getInitial(employee.name) }}</div>
                <div class="user-info">
                    <div class="user-name">{{ employee.name }}</div>
                    <div class="user-role">{{ employee.roleName }}</div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main class="main">
        <!-- Dashboard Tab -->
        <div *ngIf="activeTab === 'dashboard'" class="dashboard">
            <div class="card" style="margin-top: 24px;">
                <h3 class="card-header-title">Employee</h3>
                <div class="filter-section" style="margin-bottom: 16px;">
                    <!-- <label>Select Month:</label>
                    <input type="month" [(ngModel)]="selectedMonthYear" (change)="onMonthChange($event)" /> -->
                    <div style="text-align: end;">
                        <button style="text-align: center;" class="approve-btn" (click)="openDialog()">Add
                            New</button>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="th">Name</th>
                            <th class="th">Email</th>
                            <th class="th">Role</th>
                            <th class="th">Date of Birth</th>
                            <th class="th">Date Of Joining</th>
                            <th class="th">Manager</th>
                            <th class="th">IsActive</th>
                            <th class="th">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let emp of employeeList" class="tr">
                            <td class="td" style="display: none;">{{ emp.employeeId }}</td>
                            <td class="td" style="display: none;">{{ emp.probationId }}</td>
                            <td class="td">{{ emp.name }}</td>
                            <td class="td">{{ emp.email }}</td>
                            <td class="td">{{ emp.roleName }}</td>
                            <td class="td">{{ emp.dateOfBirth }}</td>
                            <td class="td">{{ emp.dateOfJoining }}</td>
                            <td class="td">{{emp.managerName}}</td>
                            <td class="td">{{ emp.isActive }}</td>
                            <td class="td">
                                <div>
                                    <button class="approve-btn" style="margin-bottom: 3px; background-color: #4F46E5;" (click)="openDialog(emp)">Edit</button>
                                </div>
                                 <div>
                                    <button class="approve-btn" (click)="openLeaveDialog(emp)">Add Leave</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <app-employee-dialog *ngIf="dialogOpen" [employee]="selectedEmployee" (onSave)="handleSave($event)"
            (onClose)="dialogOpen = false">
        </app-employee-dialog>
        <app-leave-dialog *ngIf="leaveDialogOpen"  (onSave)="handleLeaveSave($event)"
            (onClose)="leaveDialogOpen = false">
        </app-leave-dialog>
        <!-- Attendance Tab -->
        <div *ngIf="activeTab === 'attendance'" class="content-section">
            <h2 class="page-title">Attendance Records</h2>
             <div class="filter-section" style="margin-bottom: 16px; text-align-last: end;">
                    <label>Select Month:</label>
                    <input type="month" [(ngModel)]="selectedAttMonthYear" (change)="onAttendanceMonthchnge($event)" />
                </div>
            <div class="card">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="th">Name</th>
                            <th class="th">Email</th>
                            <th class="th">Date</th>
                            <th class="th">Check In</th>
                            <th class="th">Check Out</th>
                            <th class="th">Total Hours</th>
                            <th class="th">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let record of attendanceLog" class="tr">
                            <td class="td">{{ record.name }}</td>
                            <td class="td">{{ record.email }}</td>
                            <td class="td">{{ record.date }}</td>
                            <td class="td">{{ record.checkInTime }}</td>
                            <td class="td">
                                {{ record.checkOutTime ? (record.checkOutTime | date:'shortTime') : '---' }}
                            </td>

                           
                            <td class="td">
                              {{record.hours}}
                            </td>
                            <td class="td">
                                <span class="status-badge">Present</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Leave Tab -->
        <div *ngIf="activeTab === 'leave'" class="content-section">

            <!-- Leave History -->
            <div class="card" style="margin-top: 24px;">
                <h3 class="card-header-title">Leave History</h3>
                <div class="filter-section" style="margin-bottom: 16px; text-align-last: end;">
                    <label>Select Month:</label>
                    <input type="month" [(ngModel)]="selectedMonthYear" (change)="onMonthChange($event)" />
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="th">Email</th>
                            <th class="th">Type</th>
                            <th class="th">Start Date</th>
                            <th class="th">End Date</th>
                            <th class="th">Days</th>
                            <th class="th">Reason</th>
                            <th class="th">Status</th>
                            <th class="th">AppliedDate</th>
                            <th class="th">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let leave of leaveHistory" class="tr">
                            <td class="td">{{ leave.email }}</td>
                            <td class="td">{{ leave.leaveType }}</td>
                            <td class="td">{{ leave.startDate | date:'shortDate' }}</td>
                            <td class="td">{{ leave.endDate | date:'shortDate' }}</td>
                            <td class="td">{{ leave.days }}</td>
                            <td class="td">{{ leave.reason }}</td>
                            <td class="td">
                                <span class="approved-badge">{{ leave.status }}</span>
                            </td>
                            <td class="td">{{leave.appliedDate | date:'shortDate'}}</td>
                            <td>
                                <!-- <div *ngIf="leave.status === 'Pending'"> -->
                                <div>
                                    <button class="approve-btn"
                                        (click)="updateStatus(leave.leaveId, 'Approved')">Approve</button>
                                    <button class="reject-btn"
                                        (click)="updateStatus(leave.leaveId, 'Rejected')">Reject</button>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Reports Tab -->
        <div *ngIf="activeTab === 'reports'" class="content-section">
            <h2 class="page-title">Reports & Analytics</h2>
            <div class="filter-section" style="margin-bottom: 16px; text-align-last: end;">
                <label>Select Month:</label>
                <input type="month" [(ngModel)]="selectedMonthYear" (change)="onMonthChange($event)" />
            </div>
            <div class="report-cards">
                <div class="report-card">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#4F46E5" stroke-width="2">
                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                        <polyline points="14 2 14 8 20 8"></polyline>
                        <line x1="16" y1="13" x2="8" y2="13"></line>
                        <line x1="16" y1="17" x2="8" y2="17"></line>
                    </svg>
                   
                    <h3 class="report-title">Attendance Report</h3>
                    <p class="report-desc">Download monthly attendance summary</p>
                    <button class="download-button" (click)="downloadAttendance(selectedLeaveMonth)">Download
                        Excel</button>

                </div>

                <div class="report-card">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#10B981" stroke-width="2">
                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                        <polyline points="14 2 14 8 20 8"></polyline>
                        <line x1="16" y1="13" x2="8" y2="13"></line>
                        <line x1="16" y1="17" x2="8" y2="17"></line>
                    </svg>
                    <h3 class="report-title">Leave Report</h3>
                    <p class="report-desc">Download leave balance and history</p>
                    <!-- Month picker -->

                    <button class="download-button" (click)="downloadLeaves(selectedLeaveMonth)">Download Excel</button>

                </div>
            </div>
        </div>
    </main>
</div>

